{% if error_message %}<p><strong>{{ error_message }}</strong><p>{% endif %}
<form action="{% url 'food:login' %}" method="post">
{% csrf_token %}
    <ul>
    <table width="480px">
    <tr>
    <td>
        <label for="user_name"> User Name </label>
    </td>
    <td>
        <input type="text" name="user_name" maxlength=50>
    </td>
    </tr>
    <tr>
    <td>
        <label for="password"> Password </label>
    </td>
    <td>
        <input type="text" name="password" maxlength=50>
    </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center">
        <input type="submit" value="submit">
    </tr>
    </table>
    </ul>
</form>
    
