<ul>
    {{ header }}
</ul>
{% if location_specific %}
<ul>
    <form action="{% url 'food:RestaurantList' username %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="area_check" value='FALSE' />
    <a href="#" onclick="document.forms[0].submit(); return False;">To go back to full list Click Here!</a>
    </form>
</ul>
{% else %}
<ul>
    <form action="{% url 'food:RestaurantList' username %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="area_check" value='TRUE' />
    <a href="#" onclick="document.forms[0].submit(); return False;">To check the restaurants in your area, Click Here!</a>
    </form>
</ul>
{% endif %}
<ul>
{% if restaurant_list %}
    <ul>
    {% for restaurant in restaurant_list %}
        <li><a href="{% url 'food:menu' restaurant.id %}">{{ restaurant.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No restaurant found!</p>
{% endif %}
</ul>
